.Weather {
    border: 1px solid #dadde1;
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    padding: 16px;
   
    
    border-radius: 4px;
}
/*Searching Form*/

.Weather form {
    margin-bottom: 20px;
}

/*Weather description block*/

.Weather h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

/*IMG*/
.Weather canvas {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}

/*Temperature and Units*/
.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -32px;
}
